<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Node Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style-beta.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
</head>
<body>
	<div class="g-doc box">
		<!-- 侧边栏区域 -->
		<div class="sidebar">
			<div class="sidebar-container box">
				<div class="sidebar-icon">
					<!-- 头像 -->
					<a class="hdimg img" href="http://jiangink.lofter.com/">
						<img src="/images/owl.png" height="128" width="128">
					</a>
					<!-- 昵称 -->
					<h1 class="auther">
						<a href="http://jiangink.lofter.com/">
						<i class="fa fa-user"></i>
						無畏無知
						</a>
					</h1>
				</div>
				<!-- 个人信息 -->
				<div class="auther-profile" id="j-about">
					<p class="cont">不忘初心 方得始終</p>
				</div>
				<!-- 侧边栏菜单 -->
				<ul class="sidebar-nav">
					<li>
						<a href="/signin.do">
				            <i class="fa fa-sign-in"></i>
				            登录
    					</a>
    				</li>
    				<li>
						<a href="/signout.do">
				            <i class="fa fa-sign-out"></i>
				            注销
    					</a>
    				</li>
					<li>
						<a href="/">
            				<i class="fa fa-home"></i>
            				主页
        				</a>
    				</li>
    				<li>
						<a href="/archive.do">
				            <i class="fa fa-archive"></i>
				            存档
    					</a>
    				</li>
    				<li>
						<a href="/tags.do">
				            <i class="fa fa-tag"></i>
				            &nbsp;标签
				        </a>
    				</li>
    				<li>
						<a href="/links.do">
				            <i class="fa fa-link"></i>
				            友链
				        </a>
    				</li>
    				<li>
						<a href="/rss.do">
				            <i class="fa fa-rss"></i>
				            RSS
				        </a>
    				</li>
    				
					<!-- Search -->
					<li class="sidebar-search">
						<form id="j-formsch" class="form" method="get" action="/search.do">
							<!-- <i class='fa fa-search'></i> -->
							<input name="q" class="text" value="<i class='fa fa-search'></i>搜索" onfocus="if(this.value=='搜索'){this.value='';}" onblur="if(this.value==''){this.value='搜索';}" type="text">
						</form>
					</li>
				</ul>
			</div>
		</div>
		<!-- 博文内容区域 -->		
		<div class="article">
			<div class="section box">
				<!-- 博文组 -->
				<div class="m-posts">
					<!-- 博文单元 -->
					<div class="m-post">
			        	<div class="cont ">
			                <div class="text">
			                    <h2><a href="/post/1d1e0f48_81ff9f5">写在九月的凉夜</a></h2>
			                    <p>
			                    搬离华阳已有一个星期，一切都还过得去，只是仍有一丝不能释怀的感触，毕竟一直以来都是个适应力有限的人，可能随着时间流逝，一切都能够冲淡，没什么大不了的，生活还要继续，不论你愿不愿去接受……
			                    </p>
			                </div>
			                <div><a href="/post/1d1e0f48_81ff9f5">查看更多</a></div>
			            </div>
			        	<div class="subinfo subinfo-1">
			            	<a href="/post/1d1e0f48_81ff9f5">
				            	<i class="fa fa-calendar"></i>
				            	2015-09-11
			            	</a>
			                <a href="/post/1d1e0f48_81ff9f5" class="hotnum">
				                <i class="fa fa-heart"></i>
				                2
			                </a>
			            </div>
    				</div>

    				<div class="m-post">
			        	<div class="cont ">
			                <div class="text">
			                    <h2><a href="/post/1d1e0f48_81ff9f5">写在九月的凉夜</a></h2>
			                    <p>
			                    搬离华阳已有一个星期，一切都还过得去，只是仍有一丝不能释怀的感触，毕竟一直以来都是个适应力有限的人，可能随着时间流逝，一切都能够冲淡，没什么大不了的，生活还要继续，不论你愿不愿去接受……
			                    </p>
			                </div>
			                <div><a href="/post/1d1e0f48_81ff9f5">查看更多</a></div>
			            </div>
			        	<div class="subinfo subinfo-1">
			            	<a href="/post/1d1e0f48_81ff9f5">2015-09-11</a>
			                <a href="/post/1d1e0f48_81ff9f5" class="hotnum">2</a>
			            </div>
    				</div>

				</div>
						
				<!-- 置顶按钮 -->
				<div class="pager-idx box">
					
					<a class="top" href="#">▲</a>
				</div>

				<!-- 尾部区域 -->
				<p class="footer">
					©&nbsp;
					<a href="https://github.com/JiangInk">JiangInk</a>
					&nbsp;|&nbsp;Powered by 
					<a href="https://github.com/JiangInk/node_blog">
						<i class="fa fa-github-alt"></i>
						node_blog
					</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>