<!-- 头部内容 -->
<%- include ./common/header %>

<body>
<!-- 顶部导航内容 -->
<%- include ./common/nav %>

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">NODE BLOG</h1>
        <hr/>
        <p class="lead blog-description">欢迎来到NODE BLOG，让我们一起去探索生活，开辟趣味的新世界!</p>
    </div>

    <!-- 用户信息界面 -->
    <form class="form-setinfo" action="/setinfo.do" method="POST">
        <h2 class="form-setinfo-heading">
            <span class="glyphicon glyphicon-cog"></span>&nbsp;信息设置
        </h2>
        <!--<label for="usrName" class="sr-only">用户账号</label>-->
        <label for="usrName">用户账号:</label>
        <p class="form-control-static">
            <!--<span class="glyphicon glyphicon-th">-->
            <%= user.userName %>
        </p>
        <!--<label for="nickName" class="sr-only">昵称</label>-->
        <label for="nickName">昵称:</label>
        <!--<input type="text" id="nickName" name="nickName" class="form-control" placeholder="昵称" required/>-->
        <input type="text" id="nickName" name="nickName" class="form-control" required/>
        <!--<label for="usrTitle" class="sr-only">头衔</label>-->
        <label for="usrTitle">头衔:</label>
        <!--<input type="text" id="usrTitle" name="usrTitle" class="form-control" placeholder="头衔" required/>-->
        <!--<input type="text" id="usrTitle" name="usrTitle" class="form-control" required/>-->
        <select name="usrTitle" id="usrTitle" class="form-control selStyle">
            <option value="0">后台应用程序猿</option>
            <option value="1">开源硬件小创客</option>
            <option value="2">前端体验射击师</option>
            <option value="3">苦逼运维攻城师</option>
            <option value="4">霸葛吐槽测试猿</option>
        </select>
        <!--<label for="eMail" class="sr-only">电子邮箱</label>-->
        <label for="eMail">电子邮箱:</label>
        <!--<input type="text" id="eMail" name="eMail" class="form-control" placeholder="电子邮箱" required/>-->
        <input type="email" id="eMail" name="eMail" class="form-control" required/>
        <!--<label for="profile" class="sr-only">个人简述</label>-->
        <label for="profile">个人简述:</label>
        <!--<textarea name="profile" id="profile" class="form-control" cols="30" rows="10" placeholder="个人简述" required></textarea>-->
        <textarea name="profile" id="profile" class="form-control" cols="20" rows="10" required></textarea>

        <span class="errinfo"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">保存</button>
    </form>
</div>

<!-- 底部页尾内容 -->
<%- include ./common/footer %>
