* {
    margin: 0;
    padding: 0;
}
body {
	word-wrap: break-word;
    font: 12px/200% "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    color: #666;
    background: url("/image/background.jpg") fixed no-repeat;
}

textarea, input, select {
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    font-size: 12px;
    color: #666;
}
textarea, input, button, select {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-family: inherit;
    outline: 0px none;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 11px BlinkMacSystemFont;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}
/*a, a:hover {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}*/

/*
    侧边栏样式
 */
.sidebar {
    background: rgba(65,65,65,0.9) none repeat scroll 0% 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 100vh;
}
.sidebar-container {
    padding: 14%;
    text-align: center;
}
.sidebar-icon img, .pager-idx a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.sidebar-icon .icon img {
    border: 2px solid #51CFD4;
    padding: 4px;
    width: 80%;
    height: 80%;
    vertical-align: middle;
    transform: rotateY(0deg);
    -webkit-transition: transform 1.5s ease-out;
    -moz-transition: transform 1.5s ease-out;
    -o-transition: transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
}
.sidebar-icon .icon img:hover {
    transform: rotateY(360deg);
    -webkit-transition: transform 1.5s ease-out;
    -moz-transition: transform 1.5s ease-out;
    -o-transition: transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
}
h1.auther {
    font-size: 16px;
}
.auther-profile p.content {
    font-size: 12px;
}
.sidebar-icon img, .siderbar-icon .auther, .auther-profile .content {
    margin-bottom: 6%;
}
.sidebar-icon .auther a, .auther-profile .content,
.sidebar-nav a, .sidebar-search .text {
    color: #FFF;
}
.sidebar-nav li a.btn {
    font-size: 12px;
    border: 0px;
}
.sidebar-nav a, .sidebar-search .text {
    display: block;
    padding: 6px 12px;
    width: 14vw;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0% 0%;
    border: 0px;
    line-height: 20px;
    white-space: nowrap;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.sidebar-search .text {
    font-size: 12px;
    border-width: 0px 0px 1px;
    text-align: center;
}

.sidebar-nav li {
    margin: 7px 2px;
    list-style: outside none none;
    display: list-item;
    text-align: center;
}

.sidebar-nav a:hover,
.sidebar-nav .text:hover {
    background-color: #51CFD4;
    color: #FFF;
}

/*
    博文内容区
 */
.article {
    width: 80%;
    margin-left: 20%;
}
.section {
    padding: 5% 0%;
}

/*
    文章样式
 */

.m-posts{
    position:relative;
    z-index:2;
    margin:0 auto;
}
.m-post{
    position:relative;
    width: 90%;
    margin: 0 5% 5% 5%;
    padding: 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10px;
}
.m-post:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
}
.content{
    letter-spacing:1px;
    color: rgba(116, 116, 116, 1);
    /*overflow: hidden;*/
}
.text{
    line-height:1.6;
}
.text h2{
    font-size:24px;
}
.text h2,.text p{
    margin:0 0 20px;
}
.text img{
    display:block;margin:0 0 10px;
}

.subinfo {
    position:absolute;
    bottom: 0%; left: 6%;
    margin: 0 0 2% 0;
}
.subinfo a{
    font-size:12px;
}
.subinfo .hotnum{
    padding:0 0 0 22px;
    background-position:-10px -299px;
}
.subinfo .comnum{
    padding:0 0 0 22px;
    background-position:-10px -336px;
}
.content a, .pager-idx i.fa, .footer a:hover {
    color: #51CFD4;
}
.content a:hover, .pager-idx i.fa:hover, .subinfo a {
    color: rgba(116, 116, 116, 1);
    text-decoration: none;
}

/*
    置顶按钮
 */
.pager-idx {
    margin: 0% 0% 10% 5%;
    padding: 60px 0px 20px 15px;
    line-height: 56px;
    font-size: 20px;
}

.pager-idx a {
    display: inline-block;
    padding: 16px 18px;
    font-weight: bold;
    line-height: 24px;
}
.pager-idx a, .pager-idx span {
    float: left;
    margin-right: 50px;
}
.pager-idx a {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0% 0%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.pager-idx a:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

/*
    尾部信息
 */
.footer, .footer a {
    color: #CCC;
}
.footer {
    margin: 5%;

}



