<nav class="col-xs-12 col-lg-9 nav-pager">
    <ul class="pager">

        <li><a href="?curPage=<%= curPage-1 %>">Previous</a></li>
        <li><a href="?curPage=<%= curPage+1 %>">Next</a></li>
    </ul>
</nav>