<div class="col-xs-6 col-sm-3 sidebar-offcanvas side-padleft" id="sidebar">
    <!-- About Info -->
    <div class="sidebar-module sidebar-module-inset">
        <img src="./images/owl.png" class="img-responsive" alt="Cinque Terre"/>
        <h4>喵头鹰</h4>
        <p>
            2015年度中国杰出青年程序猿<br/>
            <em>优秀的全能创客</em><br/>
            爱编程，更爱妹纸. 从来未浮夸，一直很低调。
            喜欢旅行，热爱美食，热衷有趣的新兴技术，
            愿意听人吹牛逼，也享受自己吹牛逼，
            为人谦逊，心胸阔达，从来不捅项目经理，最多就打个半死残废.
        </p>
    </div>
    <!-- Sidebar Menu -->
    <div class="list-group">
        <!--<a href="/" class="list-group-item active">-->
        <a href="/" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            HOME&nbsp;/&nbsp;<small>主页</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            ARCHIVE&nbsp;/&nbsp;<small>存档</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            TAGS&nbsp;/&nbsp;<small>标签</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            POST&nbsp;/&nbsp;<small>发表</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            UPLOAD&nbsp;/&nbsp;<small>上传</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            LINKS&nbsp;/&nbsp;<small>友情链接</small>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-knight"></span>
            SEACH&nbsp;/&nbsp;<small>搜索</small>
        </a>
    </div>
</div><!--/.sidebar-offcanvas-->
