<div class="col-xs-6 col-sm-3 sidebar-offcanvas side-padleft" id="sidebar">
    <!-- About Info -->
    <div class="sidebar-module sidebar-module-inset">
        <img src="/images/owl.png" class="img-responsive" alt="Cinque Terre"/>
        <% if(user) {%>
        <h4><%= user.nickName %></h4>
        <h5>
            <span class="glyphicon glyphicon-grain"></span>
            <% if (0 == user.userTitle) { %>
            代码中二实习生
            <% }else if(1 == user.userTitle) { %>
            后台应用程序猿
            <% }else if(2 == user.userTitle) { %>
            开源硬件小创客
            <% }else if(3 == user.userTitle) { %>
            前端体验射击师
            <% }else if(4 == user.userTitle) { %>
            苦逼运维攻城师
            <% }else if(5 == user.userTitle) { %>
            霸葛吐槽测试猿
            <% }else if(6 == user.userTitle) { %>
            腻害程序鼓励师
            <% } %>
        </h5>
        <p>
            <%- user.profile %>
        </p>
        <% } else {%>
        <h4>JiangInk</h4>
        <h5>
            <span class="glyphicon glyphicon-grain"></span>
            苦逼程序猿
        </h5>
        <p>
            专攻的领域：<br />
            Linux、C、Node.JS、MongoDB<br />
            本项目运用的技术：<br />
            JQuery、Bootstrap、EJS<br />
            Node.JS、Express4、MongoDB<br />
        </p>
        <% } %>
    </div>
    <!-- Sidebar Menu -->
    <div class="list-group">
        <a href="/" class="list-group-item">
            <span class="glyphicon glyphicon-home"></span>
            主页
        </a>
        <a href="/archive.do" class="list-group-item">
            <span class="glyphicon glyphicon-list-alt"></span>
            存档
        </a>
        <a href="/tags.do" class="list-group-item">
            <span class="glyphicon glyphicon-tags"></span>
            标签
        </a>
        <a href="/search.do" class="list-group-item">
            <span class="glyphicon glyphicon-search"></span>
            搜索
        </a>
        <a href="/links.do" class="list-group-item">
            <span class="glyphicon glyphicon-link"></span>
            友情链接
        </a>
    </div>
</div><!--/.sidebar-offcanvas-->
